#main-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#main-menu.navbar-default {
    font-size: 16px;
    background-color: rgba(55, 92, 76, 1);
    background: -webkit-linear-gradient(top, rgba(115, 199, 109, 1) 0%, rgba(55, 92, 76, 1) 100%);
    background: linear-gradient(to bottom, rgba(115, 199, 109, 1) 0%, rgba(55, 92, 76, 1) 100%);
    /*border-width: 1px;*/
    /*border-radius: 0px;*/
}
#main-menu.navbar-default .navbar-nav>li>a {
    color: rgba(107, 255, 216, 1);
    background-color: rgba(55, 92, 76, 1);
    background: -webkit-linear-gradient(top, rgba(115, 199, 109, 1) 0%, rgba(55, 92, 76, 1) 100%);
    background: linear-gradient(to bottom, rgba(115, 199, 109, 1) 0%, rgba(55, 92, 76, 1) 100%);
}
#main-menu.navbar-default .navbar-nav>li>a:hover,
#main-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(116, 140, 99, 1);
}
#main-menu.navbar-default .navbar-nav>.active>a,
#main-menu.navbar-default .navbar-nav>.active>a:hover,
#main-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(105, 163, 101, 1);
    background: -webkit-linear-gradient(top, rgba(65, 138, 106, 1) 0%, rgba(105, 163, 101, 1) 100%);
    background: linear-gradient(to bottom, rgba(65, 138, 106, 1) 0%, rgba(105, 163, 101, 1) 100%);
}
#main-menu.navbar-default .navbar-toggle {
    /*border-color: #69a365;*/
}
#main-menu.navbar-default .navbar-toggle:hover,
#main-menu.navbar-default .navbar-toggle:focus {
    background-color: #69a365;
}
#main-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
#main-menu.navbar-default .navbar-toggle:hover .icon-bar,
#main-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff;
}
#brand-logo {
	height : 100%;
}
.footer {
	color: #fff;
	background:#0a0f0f;
	border-top:3px solid black;
}	
.btn-custom {background: rgba(42, 128, 91, 1); background: -webkit-linear-gradient(top, rgba(144, 240, 187, 1) 0%, rgba(42, 128, 91, 1) 100%); background: linear-gradient(to bottom, rgba(144, 240, 187, 1) 0%, rgba(42, 128, 91, 1) 100%); border-color: rgba(204, 204, 204, 1); color: rgba(51, 51, 51, 1); font-size: 16px; border-radius: 50px; border-width: 1px;}
.btn-custom:hover {background: rgba(55, 186, 119, 1); background: -webkit-linear-gradient(top, rgba(86, 237, 184, 1) 0%, rgba(55, 186, 119, 1) 100%); background: linear-gradient(to bottom, rgba(86, 237, 184, 1) 0%, rgba(55, 186, 119, 1) 100%); border-color: rgba(133, 217, 150, 1); color: rgba(51, 51, 51, 1);}
.btn-custom:active, .btn-custom:focus {background: rgba(147, 219, 144, 1); background: -webkit-linear-gradient(top, rgba(74, 176, 123, 1) 0%, rgba(147, 219, 144, 1) 100%); background: linear-gradient(to bottom, rgba(74, 176, 123, 1) 0%, rgba(147, 219, 144, 1) 100%); border-color: rgba(162, 207, 193, 1); color: rgba(51, 51, 51, 1);}