.content_sector {
    border: 0.5px #2b542c solid;
    border-radius: 3px;
    margin-bottom: 10px;

}
.news-item {
    /*padding: 5px;*/
    border-bottom: 1px solid #255625;
}
.decks-item {
    height: 110px;
    /*background-color: rgba(0, 76, 135, 0.5);*/
}
.articles-item {

}
.deck_img {
    width: 100%;
}
.top-panel {
    display:inline-block;
    position:relative;
    width:100%;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.9);
}
.top-panel h1 {
    display:inline-block;
    position:absolute;
    top:70%;
    left:0px;

    /* Оформление текста */
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:40px;

    /* Фон */
    background-color:rgba(0,0,0,.4);
    padding:10px 30px;
}
